extends layout

block content
    div.col-md-6
        h1 Configuración del Usuario
        div.col-md-4
            form(action="/users/#{user._id}/edit",method="post",name="updateUser")
                div.form-group
                    label(for="inputName") Nombre de Usuario: 
                    input#inputName.form-control(type="text", value="#{user.name}", name="username")
                div.form-group
                    label(for="inputNewPassword") Nueva Contraseña:
                    input#inputNewPassword.form-control(type="password", placeholder="********", name="newPassword")
                div.form-group
                    label(for="inputNewPasswordBis") Confirmar: 
                    input#inputNewPasswordBis.form-control(type="password", placeholder="********", name="newPasswordConfirm")
                input(type="hidden",value="PUT",name="_method")
                button.col-md-12.btn.btn-success.pull-left(type="submit").
                    Guardar cambios
            form(action="users/#{user._id}/", method="POST", name="deleteUser")
                input(type="hidden", value="DELETE", name="_method")
                button.col-md-12.col-md-offset-4.btn.btn-danger.pull-right(type="submit") Borrar Cuenta
